<div class = "col-md-9">

    <div class = "row">
        <div class = "col-md-2">
        <figure class="figure">
            <img src = "https://bulma.io/images/placeholders/64x64.png">                  
        </figure>
        </div>

        <div class = "col-md">
        <%= render 'form' %>
        </div>
    </div>


    <% @posts.each do |post| %>
        
        <div class = "row">
        <div class = "col-md-2">
            <figure class="figure">
            <img src = "https://bulma.io/images/placeholders/64x64.png">                  
            </figure>
        </div>

        <div class = "col-md-10 card card-body bg-card">
            <%= post.post %>
        </div>
        
        </div>

        <div class = "row">
        <div class = "col-md-3 col-sm-3 ml-auto icons">
            <%= link_to post, class: "control" do %>
            <span class = 'icon'><i class = 'fa fa-link' aria-hidden = 'true'></i></span>
            <% end %>

            <%= link_to edit_post_path(post), class: "control" do %>
            <span class = 'icon'><i class = 'fa fa-pencil' aria-hidden = 'true'></i></span>
            <% end %>
            

            <%= link_to post, method: :delete, data: { confirm: 'Are you sure?' }, class: "control" do %>
            <span class = 'icon'><i class = 'fa fa-trash-o' aria-hidden = 'true'></i></span>
            <% end %>

            </div>
        </div>
        
        <br>
    <% end %>
</div>