<div class = "container">
  <div class = "row">
   <div class = "col-md-6 offset-md-3">

      <p id="notice"><%= notice %></p>

      <div class = "row">
        <div class = "col-md-2">
          <figure class="figure">
            <img src = "https://bulma.io/images/placeholders/64x64.png">                  
          </figure>
        </div>
        
        <div class = "col-md">
          <%= render 'form' %>
        </div>
      </div>


          <% @posts.each do |post| %>
            
            <div class = "row">
              <div class = "col-md-2">
                <figure class="figure">
                  <img src = "https://bulma.io/images/placeholders/64x64.png">                  
                </figure>
              </div>

              <div class = "col-md-10 card card-body bg-card">
                <%= post.post %>
              </div>
              
            </div>
              
              <%= link_to 'Show', post %>
              <%= link_to 'Edit', edit_post_path(post) %>
              <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
              <br>
          <% end %>
          

    </div>
  </div>
</div>
